*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1a1815;
}

.offcanvas.show:not(.hiding), .offcanvas.showing {
    transition: all 0.3s;
    transform: none;
    border-radius: 14px;
}