<section class="container">
    <h1 class="text-center">Cadastro de Filme</h1>

    <form action="/filme/store" method="post">

        {{!--2º Campo: Título --}}
        <section>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="titulo" id="titulo" placeholder="name@example.com" required>
                <label for="floatingInput">Título do filme</label>
            </div>
        </section>

        {{!-- 3º Campo: Selecionar Gênero --}}
        <section class="my-3">
            <label for="genero">Escolha o gênero:</label>
            <select name="genero" id="genero" class="form-select" required>
                <option value="">Escolha uma opção</option>
                <option value="romance">Romance</option>
                <option value="terror">Terror</option>
                <option value="acao">Ação</option>
                <option value="comedia">Comédia</option>
                <option value="ficcao-científica">Ficção científica</option>
            </select>
        </section>

        {{! 5º Campo: Selecionar Duração}}
        <section class="my-3">
            <div class="form-floating mb-4">
                <input type="text" class="form-control" id="duracao" name="duracao" placeholder="name@example.com"
                    required>
                <label for="floatingInput">Duração do filme</label>
            </div>
        </section>

        {{!-- 4º Campo: Selecionar Classificação indicada --}}
        <section class="my-3">
            <label for="classificacao">Escolha a classificação:</label>
            <select name="classificacao" id="classificacao" class="form-select" required>
                <option value="">Escolha uma opção</option>
                <option value="0">Livre</option>
                <option value="1">Não recomendado para menores de 10 anos</option>
                <option value="2">Não recomendado para menores de 14 anos</option>
                <option value="3">Não recomendado para menores de 18 anos</option>


            </select>
        </section>


        {{!-- 6 º Campo: Botão de Cadastrar --}}
        <section class="mb-2 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </section>

    </form>
</section>