<section class="container width mt-5 py-5 px-3 box-shadow">
    <div class="d-flex justify-content-between px-2">
        <h1 class="text-center fs-2 text-white text-center">Cadastro de Sessão</h1>
        <a href="/sessao"><i class="fa-solid fa-right-from-bracket text-white fs-4 py-1justify-content-end"></i></a>
    </div>
      <form action="/sessao/store" method="post">
        {{!-- Campo 1: Nome --}}
        <section class="mb-2">
            <label for="data">Data do Filme </label>
            <input type="date" name="data" id="data" class="form-control" required>
        </section>

        <section class="mb-2">
            <label for="horario">Horário do filme</label>
            <input type="time" name="horario" id="horario" class="form-control" required>
        </section>
        {{!-- CAMPO 3 - SELECIONAR CÓDIGO DO DEPARTAMENTO --}}
        <section class="mb-2">
            <select name="sessao" id="sessao" class="form-select" required>
                <option value="">Escolha o filme</option>
                {{#each dados}}
                <option value="{{dataValues.id}}">{{dataValues.titulo}}</option>
                {{/each}}
            </select>
        </section>

        {{!-- CAMPO 4: BOTÃO DE CADASTRAR --}}
        <section class="mb-2 d-flex justify-content-end">
            <button class="btn btn-cadastro" type="submit">Cadastrar</button>
        </section>
    </form>
</section>